# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.NPCDynamicLoot.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity Projects\BSMod\NPCDynamicLoot\.idea\.idea.NPCDynamicLoot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
